<div class="container">
    <div class="row">
        <div class="col-3 mt-2">
            <button class="btn btn-success btn-block">CREAR NUEVO PRODUCTO</button>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th> Codigo</th>
                    <th >Nombre</th>
                    <th >Descripción</th>
                    <th> Precio</th>
                    <th  class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> P1QQ</td>
                    <td>Electronica</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quas asperiores molestiae itaque ut in?</td>
                    <td>Bs. 18</td>
                    <td class="row justify-content-around">
                       
                      <div class="col-3">
                        <button class="btn bg-primary btn-block"> Editar <span></span></button>
                      </div>
                      <div class="col-3">
                        <button class="btn bg-danger btn-block">Eliminar <span></span></button>
                      </div>
                        
                        </td>
                        
                  </tr>
                  <tr>
                    <td>P3RE</td>
                    <td>Insdustrial</td>
                    <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, fugit!</td>
                    <td>Bs. 200</td>
                    <td class="row justify-content-around">
                      
                      <div class="col-3">
                        <button class="btn bg-primary btn-block"> Editar <span></span></button>
                      </div>
                      <div class="col-3">
                        <button class="btn bg-danger btn-block">Eliminar <span></span></button>
                      </div>
                        
                        </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
