<div class="container mt-3">

    <div class="card bg-light mb-3">
        
        <div class="card-body">
          <h5 class="card-title text-center">Creacion de nuevo producto</h5>
              
    <form>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-group">
                    <label for="code">Codigo</label>
                    <input type="text" class="form-control" id="code">
                  </div>
          </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="email" class="form-control" id="name">
                  </div>
            </div>
           
        </div>
        <div class="row justify-content-center">
           
            <div class="col-6">
                  <div class="form-group">
                      <label for="description">Descripcion</label>
                      <input type="text" class="form-control" id="description">
                    </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input type="email" class="form-control" id="price">
                  </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="form-group">
                    <label for="type">Tipo de producto</label>
                    <select class="form-control" id="type">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div>
            </div>
          
        </div>
        
    </form>
    <div class="row justify-content-center mt-3">
        <div class="col-4">
            <button class="btn btn-success btn-block">Crear</button>
        </div>
        <div class="col-4">
            <button class=" btn btn-primary btn-block">Actualizar</button>
        </div>
            
          
        
    </div>
        </div>
      </div>


</div>
