<div class="container">
    <div class="row">
        <div class="col-3 mt-2">
            <button class="btn btn-success btn-block" routerLink="/type-form">CREAR NUEVO TIPO</button>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-11">
            <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th >Nombre</th>
                    <th >Descripción</th>
                    <th  class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let type of data">
                    <td>{{type.id}}</td>
                    <td>{{type.name}}</td>
                    <td>{{type.description}}</td>
                    <td class="row justify-content-around">
                      
                      <div class="col-3">
                        <button class="btn bg-primary btn-block" [routerLink]="['/type-form/' , type.id]"> Editar <span></span></button>
                      </div>
                      <div class="col-3">
                        <button class="btn bg-danger btn-block" (click)="delete(type.id)">Eliminar <span></span></button>
                      </div>
                        
                        </td>
                        
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
</div>

